@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');



*{
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

hmtl{
    height: 100%;
}

body{
    background: #F5F5F5;
    display: flex;
    flex-direction: column;
}

header{
    height: 100px;
}

.headero{
    max-width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px 16px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.sticky {
    height: 100px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #dcdcdc;
    margin-left: 7px;
    align-items: center;
    z-index: 1;
    margin-top: -30px;

  }
 
  .sticky + body {
    padding-top: 102px;
  }
.logo img{
    width: 180px;

}

.menu nav ul{
    display: flex;

}

.menu nav ul li{
    list-style: none;
    padding: 0px 20px;


}

.menu nav ul li a{
    font-size: 16px;
    text-decoration: none;
    color: #000000;
    transition: opacity 300ms;

}

.menu nav ul li a:hover{
    opacity: 0.6;
}

.btn__header-register,
.btn__register-cover{
    padding: 14px 50px;
    border: none;
    background: #000;
    color: white;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    transition: background, color, 300ms;
}


.btn__header-register:hover,
.btn__register-cover:hover{
    background: #69F1A1;
    color: #000;
}

#icon_menu{
    display: none;
}

/*PORTADA - COVER*/

.ttt{
    max-width: 1200px;
    height: calc(100vh + 1100px);
    padding: 40px;
    margin: auto;
    height: auto;
}

.cover{
    display: flex;
    justify-content: center;
    margin-top: 120px;
}

.text__information-cover{
    width: 50%;
}

.text__information-cover h1{
    font-size: 50px;
}

.text__information-cover p{
    font-size: 18px;
    margin-top: 40px;
}

.buttons__cover{
    display: flex;
    margin-top: 40px;
}

.readmorebtn{
    padding: 14px 40px;
    border: none;
    color: black;
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
    transition: background 300ms;
}

.readmorebtn:hover{
    background: #c0c0c0;
}

.media__cover{
    width: 50%;
}

.media__cover video{
    width: 80%;
    margin-top: -80px;
}

/*BANNER*/

.container__banner{
    margin-top: 80px;
}

.banner{
    height: 250px;
    display: flex;
    align-items: center;
    background: #121214;
    position:relative;
}
.banneer{
    height: 250px;
    display: flex;
    align-items: center;
    position:relative;
}

.banner__icon-heart{
    width: 35%;
    height: 100%;
}

#icon_heart{
    width: 400px;
    margin-top: -20px;
    position: relative;
    filter: drop-shadow(-40px 0px 30px rgba(0,0,0,0.5));
}

.banner__text{
    width: 60%;
    position: relative;
    padding: 40px;
}

.banner__text h2{
    color: #fff;
    font-size: 32px;
    font-weight: 400;
}

.banner__text a{
    text-decoration: none;
    display: block;
    margin-top: 20px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    transition: color 300ms;
}

.banner__text a:hover{
    color: #69F1A1;
}

.banner__icon-fire{
    height: 100%;
    position: absolute;
    right: 10px;
    overflow: hidden;
}

#icon_fire{
    width: 300px;
    position: relative;
    margin-top: -100px;
    opacity: 0.6;
}


@media (max-width: 1024px){

    .container__header,
    main{
        padding: 20px;
    }

    #icon_menu{
        display: block;
        cursor: pointer;
        font-size: 24px;
    }

    .header__register{
        display: none;
    }

    .menu{
        height: 0px;
        position: absolute;
        right: 20px;
        top: 70px;
        overflow: hidden;
        z-index: 10;
        box-shadow: 0px 0px 30px -20px rgba(0,0,0,0.5);
        transition: all 300ms;
    }

    .menu nav ul{
        padding: 20px 0px;
        flex-direction: column;
        background: #fff;
    }

    .menu nav ul li{
        padding: 10px 40px;
    }

    .mostrar_menu{ /*CLASE MANIPULADA POR JS*/
        height: 235px;
    }

    .text__information-cover h1{
        font-size: 40px;
    }

    .text__information-cover p{
        font-size: 16px;
    }

    .banner__text h2{
        font-size: 22px;
    }

    #icon_heart{
        left: -60px;
    }

    .banner__icon-fire{
        right: -20px;
    }
}

@media (max-width: 920px){
    .text__information-cover{
        width: 100%;
    }

    .media__cover{
        display: none;
    }

    .banner{
        width: 100%;
        height: auto;
        flex-wrap: wrap;
    }

    #icon_fire{
        display: none;
    }

    #icon_heart{
        left: 0;
    }

    .banner__text{
        width: 100%;
        margin-top: -100px;
    }
}
.leermas {
    display: none;
    font-size: 16px;    
    margin-top: 5px;
    color: rgb(0, 0, 0);
    text-align: justify;
}

.showoo {
    display: block;
}




.obje{
    margin-top:50px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}
.objes{
    display: block;
    margin-top: 15px;
    margin-left: 20px;
    color: rgb(61, 61, 61);
    font-size: 16px;
    text-align: justify;
}

.video-responsive {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}
.video-responsive iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}
.titul{
    display: block;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-size: 16px;
}

/*:::::Pie de Pagina*/

.pie-pagina{
    width: 100%;
    background-color: #0a141d;
    margin-top: 15%;    
}

.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 14px;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
}
.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina .grupo-2 small{
    font-size: 12px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}


.ddd{
    max-width: 1200px;
    height: calc(100vh + 120px);
    padding: 40px;
    margin: auto;
    font-size: 16px;
}
.descrp{
margin-top: 25px;
text-align: justify;
}
.linktgn{
    margin-top: 15px;
    display: block;
    cursor: pointer;
    font-size: 14px;
    text-decoration: none;
    color: #8c8686;
}

.headeroo{
    max-width: 100%;
    height: 100%;
    margin: auto;
    padding: 10px 16px;
    padding-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #dcdcdc;
    margin-top: -15px;
}

.myf{
    text-align: justify;
}


h4 {
    font-size: 1.5rem; /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Cambia la densidad de la fuente */
    color: #333; /* Cambia el color del texto */
    margin-bottom: 0.5rem; /* Agrega un espacio debajo del elemento */
    margin-top: 0.5rem;
  }
  h5 {
    font-size: 1.25rem; /* Cambia el tamaño de la fuente */
    font-weight: bold; /* Cambia la densidad de la fuente */
    color: #666; /* Cambia el color del texto */
    margin-bottom: 0.5rem; /* Agrega un espacio debajo del elemento */
  }

  p {
    margin-bottom: 0.5rem; /* Agrega espacio debajo de cada párrafo */
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 1rem;
  }
  
  th, td {
    border: 1px solid #ddd;
    padding: 0.5rem;
    text-align: left;
  }
  
  th {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  
  @media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
      display: block;
      width: 100%;
    }
    
    tbody tr {
      margin-bottom: 1rem;
    }
    
    td {
      text-align: right;
      padding-left: 50%;
      text-indent: -50%;
      border-bottom: 1px solid #ddd;
    }
    
    td:before {
      content: attr(data-label);
      float: left;
      font-weight: bold;
      text-transform: uppercase;
    }
  }


.mapa1{
    width: 100%;
    height: 80%;
}


.diagramafoto{
    width: 100%; /* La imagen ocupará el 100% del ancho del contenedor */
    height: auto;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 30px;
}
/* Estilos para pantallas pequeñas */
@media (max-width: 767px) {
    img {
      width: 100%;
      height: auto;
    }
  }
  
  /* Estilos para pantallas grandes */
  @media (min-width: 768px) {
    img {
      max-width: 100%;
      height: auto;
    }
  }

.pesofactores {
    margin-top: 30 px;
}





/*:::::Pie de Pagina 2*/

.pie-pagina2{
    width: 100%;
    background-color: #0a141d;
    margin-top:-200px;    
}

.pie-pagina2 .grupo-3{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap:50px;
    padding: 45px 0px;
}
.pie-pagina2 .grupo-3 .boxx figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina2 .grupo-3 .boxx figure img{
    width: 250px;
}
.pie-pagina2 .grupo-3 .boxx h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 14px;
}
.pie-pagina2 .grupo-3 .boxx p{
    color: #efefef;
    margin-bottom: 10px;
}
.pie-pagina2 .grupo-3 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina2 .grupo-3 .red-social a:hover{
    color: aqua;
}
.pie-pagina2 .grupo-4{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}
.pie-pagina2 .grupo-4 small{
    font-size: 12px;
}
@media screen and (max-width:800px){
    .pie-pagina2 .grupo-3{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }
}

.ddd{
    max-width: 1200px;
    height: calc(100vh + 1100px);
    padding: 40px;
    margin: auto;
    height: auto;
}
.kkk{
    max-width: 1200px;
    padding: 40px;
    margin: auto;
    height: auto;
}
.lli{
    max-width: 1200px;
    height: 550px;
    padding: 40px;
    margin: auto;
}

.ultim{
    align-items: center;
    margin-left: 3%;
    margin-right: 4%;
    text-align: justify;
}
.ooo{
    height: 900px;
}
.lll{
    max-width: 1200px;
    height: 750px;
    padding: 40px;
    margin: auto;
}
.pppp{
    height: 100%;
}
